<script src="/lib/layui/layui.js"></script>
<script src="/js/config/config.js"></script>
<script src="../../../../../lib/timeTable/static/jquery.min.js"></script>
<style>
  .layui-form-checkbox[lay-skin=primary] span {
    width: 100px;
  }
</style>
<div class="layui-fluid">
  <div class="layui-row">
    <div class="layui-col-xs6" style="width: 480px;margin-right: 5px">
      <table id="demo" lay-filter="test"></table>
    </div>
    <div class="layui-col-xs6" style="width: 650px;">
      <table id="demo1" lay-filter="test"></table>
    </div>

    <div class="layui-col-xs12" style="text-align: center">
      <button class="layui-btn layui-btn-normal" id="sub" style="width: 180px">确定</button>
    </div>

  </div>
</div>

<script>
  layui.use(['table', 'timeTable', 'form'], function () {
    var table = layui.table;
    const timeTable = layui.timeTable;
    var form = layui.form;

    var createByPlanResult = JSON.parse(window.localStorage.getItem('createByPlanResult'));
    window.localStorage.removeItem('createByPlanResult');

    table.render({
      elem: '#demo',
      height: 500,
      data: createByPlanResult.data.newClash,
      cols: [[ //表头
        {field: 'id', type: 'numbers', title: '序号', width: 20, fixed: 'left'},
        {field: 'name', title: '当前课程', width: 80, templet: (d) => d.subjectEntity.courseEntity.name,},
        {field: 'classRoom', title: '教室', width: 80, templet: '#CRE'},
        {field: 'city', title: '班级', width: 80, templet: '#CE'},
        {field: 'sign', title: '老师', width: 80, templet: '#TE'},
        {field: 'sign', title: '上课日期', width: 140, templet: (d) => d.beginTime},
      ]]
    });
    table.render({
      elem: '#demo1',
      height: 500,
      data: createByPlanResult.data.oldClash,
      cols: [[ //表头
        {field: 'name', title: '冲突课程', width: 80, templet: (d) => d.subjectEntity.courseEntity.name},
        {field: 'classRoom', title: '教室', width: 80, templet: '#CRE'},
        {field: 'city', title: '班级', width: 80, templet: '#CE'},
        {field: 'sign', title: '老师', width: 80, templet: '#TE'},
        {field: 'sign', title: '上课日期', width: 121, templet: (d) => d.beginTime},
        {title: '解决冲突', width: 200, align: 'center', toolbar: '#toolBar', align: "center"}
      ]]
    });

    var coverData = [];
    function getSelect() {
      coverData = [];
      $(".way").each((index, item) => {
        let data = createByPlanResult.data.newClash[index];
        if (item.checked) {
          var obj = {
            assistantIds: data.assistantIds,
            beginTime: data.beginTime,
            classId: data.classId,
            classSubjectId: data.classSubjectId,
            classroomId: data.classroomId,
            companyId: data.companyId,
            createStaffId: data.createStaffId,
            createTime: data.createTime,
            duration: data.duration,
            endTime: data.endTime,
            id: data.id,
            status: data.status,
            teacherId: data.teacherId,
          }
          coverData.push(obj)
        }
      })
    }
    getSelect();

    table.on('tool(test)', (obj) => {
      const data = obj.data; //获得当前行数据
      const layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
      const tr = obj.tr; //获得当前行 tr 的DOM对象

      createByPlanResult.data.oldClash.forEach((item, index) => {
        if (item.id == data.id) {
          $(".way")[index].checked = false;
          $(".jump")[index].checked = false;
          if (layEvent == "one") {
            $(".way")[index].checked = true;
          } else {
            $(".jump")[index].checked = true;
          }
        }
      })
      form.render();
      getSelect();
    })


    $(function () {
      $("#sub").on('click', function () {
        cfx.loading();
        timeTable.createByReplace(coverData).then(res => {
          if (res.msg == '请求成功'){
            layer.msg('覆盖成功');
          }else {
            layer.msg(res.msg);
          }
          setTimeout(function () {
            cfx.close();
            var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
            parent.layer.close(index);
          },1000)
        })
      })
    })
  })

</script>
<script type="text/html" id="toolBar">
  <a lay-event="one">
    <input type="checkbox" class="way" name="way[one]" lay-filter="way" lay-skin="primary"
           title="覆盖" checked style="width: 100px">
  </a>
  <a lay-event="more">
    <input type="checkbox" class="jump" name="way[more]" lay-filter="way" lay-skin="primary"
           title="跳过" style="width: 100px">
  </a>
</script>

<script type="text/html" id="CE">
  {{#  if(d.clashType === 0){ }}
  <div style="background: #F8CDC2;border-radius: 20px;text-align: center;">{{ d.classEntity.name }}</div>
  {{#  } else { }}
  <div style="text-align: center;">{{ d.classEntity.name }}</div>
  {{#  } }}
</script>

<script type="text/html" id="CRE">
  {{#  if(d.clashType === 1){ }}
  <div style="background: #F8CDC2;border-radius: 20px;text-align: center;">{{ d.classroomEntity.name }}</div>
  {{#  } else { }}
  <div style="text-align: center;">{{ d.classroomEntity.name }}</div>
  {{#  } }}
</script>

<script type="text/html" id="TE">
  {{#  if(d.clashType === 3){ }}
  <div style="background: #F8CDC2;border-radius: 20px;text-align: center;">{{ d.teacherEntity.infoEntity.nickName }}
  </div>
  {{#  } else { }}
  <div style="text-align: center;">{{ d.teacherEntity.infoEntity.nickName }}</div>
  {{#  } }}
</script>
